<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9dWvtUB3sNg07w4Z3E6daNRhuR5qkeVM</string>
	<key>GCM_SENDER_ID</key>
	<string>532803335847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.VidaSweetMobile</string>
	<key>PROJECT_ID</key>
	<string>vida-sweet</string>
	<key>STORAGE_BUCKET</key>
	<string>vida-sweet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532803335847:ios:10a588f8800f1b38408d82</string>
</dict>
</plist>